@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#logo{
max-width: 115px;
height: auto;
position: absolute;
top: 10px;
left: 10px;
}

#logo-title{
font-size: 100px;
font-family: "Bebas Neue";
letter-spacing: 20px;
text-align: center;
margin: 0;
}

.outer-container{
border: solid black 3px;
max-width: 1200px;
margin: auto;
overflow: auto;
}


header{
background-color: bisque;
overflow: auto;
position: relative;
}

nav{
text-align: center;
background-color: white;
border-top: 2px solid black;
border-bottom: 2px solid black;
}

nav ul li {
display: inline;
font-size: 36px;
padding-right: 60px;
font-family: "Bebas Neue";
}

nav ul li:hover{
color: rgb(255, 208, 0);
}


.intro-container{
background-color: khaki;
overflow: auto;
}

.image-container{
max-width: 600px;
margin: 0;
float: left;
box-sizing: border-box;
padding: 20px;
}

.intro-text{
max-width: 600px;
float: left;
padding: 3%;
box-sizing:border-box
}

.intro-image{
 max-width: 100%; 
 height: auto;
 border: solid 6px;
 border-radius: 50%;
}

footer{
background-color: bisque;
padding-top: 12px;
padding-bottom: 12px;
border-top: black 2px solid;
}

footer p {
margin: 0;
text-align: center;
}

a {
color: black;
text-decoration: none;
}

a:visited{
    color: black;
    text-decoration: none;
}

.gallery-container{
overflow: auto;
background-color: khaki;
padding-top: 10px;
padding-bottom: 10px;
}

.gallery-image{
width: 25%;
height: 235px;
float: left;
box-sizing: border-box;
padding: 10px;
outline: solid 5px black;
outline-offset: -10px;
}